<div class="container">
    <div class="jumbotron">
        <h2>Scores to unhack!: </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Key</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hacked of hackedScores">
                    <td>{{hacked.name}}</td>
                    <td>{{hacked.key}}</td>
                    <td>{{hacked.score}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" routerLink="/decode" class="btn btn-success">Unhack!</button>
    </div>
    <h2>
        Add scores to the table above for decoding
    </h2>
    <form #form="ngForm" (ngSubmit)="addToTable(form.value); form.reset()">
        <div class="form-group">
            <label for="textScores">Content for decoding</label>
            <textarea ngModel #scoreData="ngModel" name="scoreData" class="form-control" id="textScores" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="fileScores">Upload file for decoding</label>
            <input ngModel #scoreFile="ngModel" name="scoreFile" type="file" class="form-control-file" id="fileScores" (change)='openFile($event)' aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">You can upload a text file with the contents you want to decode</small>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>